  img {
  width: 500px;
  height: auto;
  padding: 75px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a:link{
    text-align: center;
    color: black;
    font-family: helvetica neue;
    padding: 75px;
    font-size: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none
}
h1{
    text-align: center;
    color: black;
    font-family: helvetica neue;
    padding: 75px;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
