
a:link{
    text-align: center;
    color: black;
    font-family: helvetica neue;
    padding: 75px;
    font-size: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    display: inline-block;
}

  h2{
    text-align: center;
    color: black;
    font-family: helvetica neue;
    padding: 15px;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 h3{
    text-align: center;
    color: black;
    font-family: helvetica neue;
    padding: 75px;
    font-size: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
iframe{
    width:1000px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: centered;
}
img {
  width: 700px;
  height: auto;
  padding: 75px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
