
h1{
    text-align: center;
    color: black;
    font-family: helvetica neue;
    padding: 75px;
    font-size: 75px;
}

h2{
    text-align: center;
    color: black;
    font-family: helvetica neue;
    padding: 75px;
    font-size: 125px;
}
a:link {
  text-decoration: none;
}
