
h2{
    text-align: center;
    color: black;
    font-family: helvetica neue;
    padding: 75px;
    font-size: 125px;
}


a:link{
    text-align: centered;
    color: black;
    font-family: helvetica neue;
     margin-left: auto;
    margin-right: auto;
    font-size: 75px;
     padding: 75px;
    text-decoration: none;
}
