body{ 
    background-color: #FFC500;
} 
h1{ color: #0032FF;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 75px;
   
    margin: 75;
}
h2{ color: #44c43d;
    font-family:'Indie Flower', cursive;
    padding: 75px;
    font-size: 100px;
    
}
h3{ color: #FF6AD4;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 125px;
}
h4{ line-spacing: 200%;
    letter-spacing: 200%;   
    font-size: 100px;
    text-align: right;
}
h5{ line-height: 300%;
    Letter-spacing: 75%;
    font-weight: bold;
}

a:visited { 
    font-size: 75px;
    margin: 100;
    padding: 100px;
    text-align: left;
}

