body{background-color: #FFC500
}
h1{ color: #0032FF;
    font-family: font-family: 'Roboto Slab', serif;
    align-content: center;
      padding: 75px;
    font-size: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none
}
