#lineOne {
    color: purple;
    padding: 50px;
}

#lineTwo {
    font-size: 40px;
    padding: 50px;
}

#lineThree {
    /*    font-family: 'Gelasio', serif;*/
    font-size: 30px;
    background-color: aqua;
    padding: 50px;
}

#lineFour {
    cursor: crosshair;
    padding: 50px;
}

#lineFive {
    font-kerning: normal;
    padding: 50px;
}

#lineSix {
    font-weight: 900;
    padding: 50px;
}

#lineSeven {
    font-weight: bolder;
    padding: 50px;
}

#lineEight {
    line-height: 80%;
    padding-left: 50px;
}

#lineNine {
    opacity: .25;
    padding: 50px;
}

#lineTen {
    color: purple
    padding: 50px;
}

#lineEleven {
    box-sizing: content-box;
    width: 200px;
    height 150px;
    padding: 50px;
    border: 100px solid yellow;
}

#lineTwelve {
    writing-mode: vertical-rl;
    padding: 50px;
}

#lineThirteen {
    direction: rtl;
    padding: 50px;
}

#lineFourteen {
    text-shadow: 2px 2px 5px grey;
    padding: 50px;
}

#lineFifteen {
    border-style: dashed dotted solid double;
    padding: 50px;
}

#lineSixteen {
    border-radius: 25px;
    background: green;
    padding: 45px;
    width: 200px
}

#lineSeventeen {
    background-color: mediumvioletred;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 50px;
}

#lineEightteen {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    padding: 50px;
}

#linenineteen {
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
}

.typewriter h1 {
    overflow: hidden;/ border-right: .15em solid orange;
    white-space: nowrap;
    padding: 50px;
    margin: auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
@import url(//fonts.googleapis.com/css?family=Vibur);
html,body{
  height:100%
}
body {
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
  background-size:cover;
  margin:0
}
.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
}

.logo b{
  font: 400 19vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
@import url(//fonts.googleapis.com/css?family=Vibur);
html,body{
  height:100%
}
body {
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
  background-size:cover;
  margin:0
}
.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
}

.logo b{
  font: 400 19vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
