body{
    background-color: #ff70d7;
}
a:link, a:visited{
    text-align: center;
    color: black;
    font-family: helvetica neue;
    padding: 75px;
    font-size: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
h2{
    text-align: center;
    color: black;
    font-family: helvetica neue;
    padding: 75px;
    font-size: 125px;
    align: centered;
}

